{% comment %}
Renders a collection card

Accepts:
- card_collection: {Object} Collection Liquid object
- media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
- columns: {Number}
- extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
- wrapper_class: {String} Wrapper class for card (optional)

Usage:
{% render 'card-collection' %}
{% endcomment %}

{%- liquid
  assign ratio = 1
  if media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif media_aspect_ratio == 'adapt'
    assign ratio = card_collection.featured_image.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
  assign card_color_scheme = settings.collection_card_color_scheme
  assign card_style = settings.collection_card_style
-%}
 
<div class="card-wrapper animate-arrow collection-card-wrapper"> 
  {%- liquid
    if collection_custom_url != blank
      assign collection_url = collection_custom_url
      else
      assign collection_url = card_collection.url
    endif
    if collection_custom_title != blank
      assign collection_title = collection_custom_title
      else
      assign collection_title = card_collection.title
    endif
  -%}
  
  <div class="card card--{{ card_style }} card--media{% if card_style == 'card' %} color-{{ card_color_scheme }} gradient{% endif %}{% if extend_height %} card--extend-height{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
    <div class="card__inner {% if section.settings.show_circle == true %} collection-corner {% endif %} {% if card_style == 'standard' %}color-{{ card_color_scheme }} gradient{% endif %}{% if card_style == 'card' or card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
      {% if collection_img != blank %}
        <div class="card__media {% if section.settings.show_circle == true %} collection-corner {% endif %}">
          {%- if collection_title -%}
            <a {% if card_collection == blank %} role="link" aria-disabled="true"{% else %} href="{{ collection_url }}"{% endif %} class="full-unstyled-link h3 media media--transparent media--hover-effect" aria-label="{{ collection_title }}">
        <img srcset=" {%- if card_collection.width >= 165 -%}{{ card_collection | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if card_collection.width >= 330 -%}{{ card_collection | image_url: width: 330 }} 330w,{%- endif -%}
                {%- if card_collection.width >= 400 -%}{{ card_collection | image_url: width: 400 }} 400w,{%- endif -%}
                {%- if card_collection.width >= 750 -%}{{ card_collection | image_url: width: 750 }} 750w,{%- endif -%}  
              {{ collection_img | image_url }} {{ collection_img.width }}w"
              sizes=" (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px,
              (min-width: 768px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
              calc(100vw - 3rem)"
              src="{{ collection_img | image_url: width: 200 }}"
              alt="{{ collection_img.alt }}"
              loading="eager" 
              height="{{ collection_img.height }}"
              width="{{ collection_img.width }}"
              class="motion-reduce">
            </a>
          {%- endif -%}
        </div>
      {%- elsif card_collection.featured_image -%}
          <div class="card__media {% if section.settings.show_circle == true %} collection-corner {% endif %}">
            <a {% if card_collection == blank %} role="link" aria-disabled="true"{% else %} href="{{ collection_url }}"{% endif %} class="full-unstyled-link h3 media media--transparent media--hover-effect" aria-label="{{ collection_title }}">
              <img srcset="{%- if card_collection.featured_image.width >= 165 -%}{{ card_collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 330 -%}{{ card_collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 400 -%}{{ card_collection.featured_image | image_url: width: 400 }} 400w,{%- endif -%}
                {%- if card_collection.featured_image.width >= 750 -%}{{ card_collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
              {{ card_collection.featured_image | image_url }} {{ card_collection.featured_image.width }}w"
              src="{{ card_collection.featured_image | image_url: width: 200 }}"
              sizes=" (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px,
              (min-width: 768px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
              calc(100vw - 3rem)"
              alt=""
              height="{{ card_collection.featured_image.height }}"
              width="{{ card_collection.featured_image.width }}"
              loading="eager"
              class="motion-reduce">
              </a>
          </div>
        {% comment %} {%- else -%}
        <div class="card__media not_coll_img">
          {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div> {% endcomment %}
      {%- endif -%}
      {%- if card_collection.featured_image == blank -%}
        <div class="card__content blank__image">
          {% if settings.show_collection_title == true %}
            <a {% if card_collection == blank %} role="link" class="h3" aria-disabled="true"{% else %} href="{{ card_collection.url }}" class="h3 {% if coll_upper == true %} uppercase{% endif %}"{% endif %}>
              {%- if collection_title != blank -%}
                <h3 class="card__heading">
                <a href="{{ collection_url }}">{{ collection_title }}</a>
                </h3>
            {% elsif show_collection_title != blank %}
              <h3 class="card__heading">
                <a
                  {% if card_collection == blank %}
                  role="link"
                  aria-disabled="true"
                  {% else %}
                  href="{{ collection_url }}"
                  {% endif %}
                  aria-label="{{ collection_title }}">
                  {%- if collection_title != blank -%}
                    {{- collection_title | escape -}}
                  {%- else -%}
                    {{ 'onboarding.collection_title' | t }}
                  {%- endif -%}
                </a>
              </h3>
            {%- endif -%}
            </a>
          {% endif %}
            {% if show_item_count %}
                <p class="wp_itom_count">{{ card_collection.all_products_count }} {{ 'wbcustomlabel.wballtext.collection_item' | t }}</p>
            {% endif %}
        </div>
      {%- endif -%}
    </div>

    {% if show_collection_title or show_item_count %}
      {% if card_collection.featured_image != blank %}
      <div class="card__content{% if collection_info != blank %} content-disabled{% endif %} {{ design_type }} {% if section.settings.design_align == 'left' %} left {% endif %}">
        <div class="card__information">
            {%- if collection_title != blank -%}
              <h3 class="card__heading">
              <a href="{{ collection_url }}">{{ collection_title }}</a>
              </h3>
          {% elsif show_collection_title != blank %}
            <h3 class="card__heading">
              <a
                {% if card_collection == blank %}
                role="link"
                aria-disabled="true"
                {% else %}
                href="{{ collection_url }}"
                {% endif %}
                aria-label="{{ collection_title }}">
                {%- if collection_title != blank -%}
                  {{- collection_title | escape -}}
                {%- else -%}
                  {{ 'onboarding.collection_title' | t }}
                {%- endif -%}
              </a>
            </h3>
          {%- endif -%}
          {% if show_item_count and collection_title %}
            {% if collection_title != blank %}
              <p class="wp_itom_count">{{ card_collection.all_products_count }} {{ 'wbcustomlabel.wballtext.collection_item' | t }}</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% endif %}
  </div>
</div>