<div class="container">
  {% for block in blocks %}
    {%- liquid 
      assign case_title = block.settings.menuname | downcase
      assign lower_title = title | downcase
    -%}
    {% if lower_title == case_title %}
      {% case block.type %}
        {% when 'megamenu-product' %}
        {%- assign collection = collections[block.settings.collection] -%}
        {%- assign product = collections[block.settings.collection.products] -%}
        <div class="wbmgproduct">
          <div class="grid">
            {%- if collection != blank -%}
            {% for product in collection.products limit: block.settings.products_to_show %}
              <div class="grid__item {% unless product.featured_media %}unsetbadge {% endunless %}">
                {%- if product and product != empty -%}
                  {%- liquid
                    assign ratio = 1
                    if product.featured_media and block.settings.image_ratio == 'portrait'
                      assign ratio = 0.8
                    elsif product.featured_media and block.settings.image_ratio == 'adapt'
                      assign ratio = product.featured_media.aspect_ratio
                    endif
                    if ratio == 0 or ratio == null
                      assign ratio = 1
                    endif
                  -%}
                  <div class="card-wrapper wbproduct-container product-card-wrapper">
                    <div class=" card card--{{ block.settings.card_style }}{%- if product.featured_media == blank and block.settings.card_style == 'card' -%} blank__image {% endif %}{% if product.featured_media %} card--media{% else %} card--text{% endif %}{% if block.settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}{% if image_shape and image_shape != 'default' %} card--shape{% endif %}{% if extend_height %} card--extend-height{% endif %}{% if horizontal_class %} card--horizontal{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
                    <div class="card__inner wbimgblock {% if block.settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if product.featured_media or block.settings.card_style == 'standard' %} ratio{% endif %}">
                      {%- if product.featured_media -%}
                        <div id="webipro-{{ section.id }}-{{ product.id }}" class="card__media {% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
                          {%- assign media = product.selected_or_first_available_variant.featured_media -%}
                          <div class="product__media-item" data-media-id="{{ section.id }}-{{ product.id }}-{{ media.id }}">
                              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                              <a href="{{ product.url | append: '?variant=' | append: product.selected_or_first_available_variant.id | default: '#' }}"
                                title="{{ product.title | escape }}"
                                class="media media--transparent media--{{ media_size }} media--hover-effect" {% if media_size == 'adapt' and product.featured_media %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}>
                                  <img srcset="
                                  {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                  {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                  {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                                "
                                  src="{{ product.featured_media | image_url: width: 533 }}"
                                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 992px) calc((100vw - 130px) / 4), (min-width: 768px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                  alt="{{ product.featured_media.alt | escape }}"
                                  class="motion-reduce"
                                  {% unless lazy_load == false %}
                                      loading="lazy"
                                  {% endunless %}
                                  width="{{ product.featured_media.width }}"
                                  height="{{ product.featured_media.height }}"
                                  >
                                  {%- if product.media[1] != nil -%}
                                      <img srcset="{%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                                      {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                                      {% if product.media[1].width >= 493 %}{{ product.media[1] | image_url: width: 493 }} 493w,{% endif %}
                                      {% if product.media[1].width >= 600 %}{{ product.media[1] | image_url: width: 600 }} 600w,{% endif %}
                                      {% if product.media[1].width >= 713 %}{{ product.media[1] | image_url: width: 713 }} 713w,{% endif %}
                                      {% if product.media[1].width >= 823 %}{{ product.media[1] | image_url: width: 823 }} 823w,{% endif %}
                                      {% if product.media[1].width >= 992 %}{{ product.media[1] | image_url: width: 992 }} 992w,{% endif %}
                                      {{ product.media[1] | image_url }} {{ product.media[1].width }}w"
                                          src="{{ product.media[1] | image_url: width: 370 }}"
                                          alt="{{ product.media[1].alt | escape }}"
                                          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 992px) calc((100vw - 130px) / 4), (min-width: 768px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                          class="motion-reduce img-fluid mx-auto lazyload"
                                          loading="lazy"
                                          width="{{ product.media[1].width }}"
                                          height="{{ product.media[1].height }}">
                                  {%- endif -%}
                              </a>
                          </div>
                        </div>
                      {%- endif -%}
                    </div>
 
                    <div class="wbproductdes card__content">
                      <product-info id="ProductInfo-{{ section.id }}-{{ product.id }}" data-section="{{ section.id }}-{{ product.id }}" data-url="{{ product.url }}">
                        <h3 class="card__heading{% if product.featured_media or block.settings.card_style == 'standard' %} h5{% endif %}" {% if product.featured_media or block.settings.card_style == 'card' %} id="title-{{ section_id }}-{{ product.id }}" {% endif %}>
                            <a href="{{ product.url | default: '#' }}" id="CardLink-{{ section_id }}-{{ product.id }}" class="full-unstyled-link" aria-labelledby="CardLink-{{ section_id }}-{{ product.id }} Badge-{{ section_id }}-{{ product.id }}" >
                                {{ product.title | escape | capitalize }}
                            </a>
                        </h3>
                        <div class="no-js-hidden wbhprice" id="price-{{ section.id }}-{{ product.id }}" role="status" {{ block.shopify_attributes }}>
                          {%- render 'price', product: product, use_variant: false, show_badges: true, from_varies: true -%}
                        </div>            
                      </product-info>
                    </div>
                    </div>
                  </div>
                {%- endif -%}
              </div>
            {% endfor %}
            {% else %}
              {%- for i in (1..5) -%}
                <div class="grid__item">
                  <div class="card-wrapper wbproduct-container product-card-wrapper">
                    {%- assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 -%}
                      {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
                      {% render 'product-card-placeholder' placeholder_image: placeholder_image %}
                  </div>
                  </div>
              {%- endfor -%}
           {% endif %}
          </div>
        </div>
        {% when 'megamenu-gallery' %}
        <div class="wbmenugallery grid{% if section.settings.menu_type_desktop == 'drawer' %} grid--2-col-desktop{% else %} grid--4-col-desktop{% endif %} grid--2-col-tablet-down">
          {% for i in (1..4) %}
            {% capture galleryimg %}wb{{ i }}_img{% endcapture %}
            {% capture gallerylink %}wb{{ i }}_link{% endcapture %}
            {% capture gallerytext %}wb{{ i }}_text{% endcapture %}
            {% if galleryimg or block.settings[gallerylink].size > 0 %}
              <div class="wp_menu_banner grid__item text-center">
                {% if block.settings[gallerylink] %}
                  <a href="{{ block.settings[gallerylink] }}" class="focus-inset" title="{{ block.settings[gallerytext] }}">
                {% endif %}
                  <div class="global-media-settings wbmenugllazy{% if block.settings[galleryimg] == blank %} wbimg_placeholder{% endif %} media media--transparent media--{{ block.settings.image_ratio }} media--hover-effect" {% if block.settings.image_ratio == 'adapt' and block.settings[galleryimg] != blank %} style="padding-bottom: {{ 1 | divided_by: block.settings[galleryimg].aspect_ratio | times: 100 }}%;"{% endif %}>
                    {% if block.settings[galleryimg] %}
                      {%- assign height = block.settings[galleryimg].width | divided_by: block.settings[galleryimg].aspect_ratio | round -%}
                      {{ block.settings[galleryimg] | image_url: width: 350 | image_tag: 
                      loading: 'lazy',
                      height: height,
                      sizes: "100vw",
                      widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' }}
                    {% else %}
                      {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
                      {%- if placeholder_slide == 1 -%}
                      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- else -%}
                      {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
                    {% endif %}
                  </div>
                    
                  {% if block.settings[gallerytext].size > 0 %}
                    <p>{{ block.settings[gallerytext] }}</p>
                  {% endif %}
                  {% if block.settings[gallerylink] %}
                  </a>
                {% endif %}
              </div>
            {% endif %}
          {%- endfor -%}
        </div>

        {% when 'megamenu-blog' %}
        <div class="wbmgblgtop grid">
          {%- if block.settings.blog != blank -%}
            {% for article in blogs[block.settings.blog].articles limit: block.settings.blog_to_show %}
              <div class="wbhblog">
                {%- if article.image != blank -%}
                  <div class="blog_img">
                    <a href="{{ article.url }}" title="{{ article.title }}" class="focus-inset global-media-settings">
                      <img {% unless lazy_load == false %} loading="lazy" {% endunless %}
                      class="lazyload img-fluid mx-auto motion-reduce"
                      srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                      {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                      src="{{ article.image.src | image_url: width: 450 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                      alt="{{ article.image.src.alt }}"
                      width="{{ article.image.width }}"
                      height="{{ article.image.height }}">

                    </a>
                  </div>
                {%- endif -%}
                <div class="blog_info">
                  <b>{{ article.published_at | time_tag: format: 'date' }}</b>
                  <a href="{{ article.url }}" class="focus-inset blog_title">{{ article.title }}</a>
                </div>
              </div>
            {% endfor %}
          {%- else -%}
            <div class="wbmgblgtop grid">
              {% for i in (1..4) %}
                <div class="wbhblog">
                  <div class="blog_img global-media-settings">
                    {%- assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 -%}
                    {%- assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index -%}
                    <div class="dummysvg" style="width: 100%;">{{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}</div>
                  </div>
                  <div class="blog_info">
                    <div class="blog_title">
                      <a href="#" class="focus-inset">{{ 'onboarding.main_blog_title' | t }} {{ i }}</a>
                    </div>
                    <p class="blog_date">
                      <span class="article_day">{% render 'icon-calendar' %} {{ 'onboarding.main_blog_date' | t }}</span>
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>

      {% endcase %}
    {% endif %}
  {% endfor %}
</div>