{{ 'countdown-timer.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}
@media screen and (max-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
}
{%- endstyle -%}
<div class="color-{{ section.settings.color_scheme }} isolate gradient section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="count_t">
      <div>
        <div class="heading inline-richtext">
        {%- if section.settings.heading != blank -%}
          <h2 class="{{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
        {%- endif -%}
        {% if section.settings.description != blank %}
          <div class="description {{ section.settings.description_style }} rte">
              {{ section.settings.description -}}
          </div>
        {% endif %}
        </div>

        {% if section.settings.button_label != blank %}
          <a {% if section.settings.link == blank %}role="link" aria-disabled="true" {% else %}href="{{ section.settings.link }}" {% endif %} 
            class="timebtn {% if section.settings.button_style == 'link' %} link underlined-link{% elsif section.settings.button_style == 'solid' %}button{% else %}button button--secondary{% endif %}">
            <span>{{ section.settings.button_label | escape }}</span>
          </a>
        {%- endif -%}
      </div>
      <div>
        <div data-date="{{ section.settings.wb_enddate }}" class="section-time countd_all">
          <div class="time main_cdays">
              <span class="count wb_cdays">00</span>
              <span>{{ 'wbcustomlabel.wballtext.time_days' | t }}</span>
          </div>
          <div class="time main_chours">
              <span class="count wb_chours">00</span>
              <span>{{ 'wbcustomlabel.wballtext.time_hour' | t }}</span>
          </div>
          <div class="time main_cminutes">
              <span class="count wb_cminutes">00</span>
              <span>{{ 'wbcustomlabel.wballtext.time_min' | t }}</span>
          </div>
          <div class="time main_cseconds">
              <span class="count wb_cseconds">00</span>
              <span>{{ 'wbcustomlabel.wballtext.time_sec' | t }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.countdown-timer.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.video.settings.heading.label",
      "default": "Countdown timer"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Description</p>",
      "label": "t:sections.image-banner.blocks.text.settings.text.label"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
      "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
        }
      ],
      "default": "solid"
    },



    {
      "type": "text",
      "id": "wb_enddate",
      "label": "t:sections.featured-collection.settings.Date.enddate.label",
      "info": "t:sections.featured-collection.settings.Date.enddate.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "presets": [
    {
      "name": "t:sections.countdown-timer.presets.name"
    }
  ]
}
{% endschema %}
