{%- style -%}
{% if section.settings.head_space %}
  .section-{{ section.id }}-padding .title-wrapper-with-link {
    padding: 10px 20px;
  }
{% endif %}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}
@media screen and (max-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
}
{%- endstyle -%}
{%- liquid
assign show_desktop_slider = false
if section.settings.enable_desktop_slider
assign show_desktop_slider = true
endif
assign show_mobile_slider = false
if section.settings.swipe_on_mobile
assign show_mobile_slider = true
endif
-%}
<div class="wblogosd color-{{ section.settings.color_scheme }} {% if section.settings.secondary_background %}background-secondary{% else %} gradient{% endif %} {% unless section.settings.full_width %} page-width {% else %} section--full-width {% endunless %}">
  <div class="wblogos section-{{ section.id }}-padding {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <slideshow-component>
      {%- if section.settings.heading != blank or section.settings.auto_rotate == false -%}
        <div class="{{ section.settings.head_align }} title-wrapper-with-link title-wrapper content-container color-{{ section.settings.heading_color_scheme }}">
          <div class="heading inline-richtext">
            <h2 class="{{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
          </div>
          <div class="wb_button_combo bcombo_auto {% if section.settings.auto_rotate == true %} logohidebtn {% endif %}">
            <div class="wb_home_sbtn slider-buttons no-js-hidden {% unless show_desktop_slider and section.blocks.size > section.settings.columns_desktop %} desktop-arrows-hide {% endunless %}{% unless show_mobile_slider %} mobile-arrows-hide {% endunless %}">
            <button type="button" class="log-btn slider-button slider-button--prev button" name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}"
              data-step="1"><span>{% render 'icon-caret' %}</span></button>
            <button type="button"
              class="log-btn slider-button slider-button--next button no-js-hidden{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}"
              name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}"
              data-step="1"><span>{% render 'icon-caret' %}</span></button>
            </div>
          </div>
        </div>
      {%- endif -%}
      <div class="logo-bar-section color-{{ section.settings.color_scheme }} gradient">
        <div class="grid--{{ section.settings.columns_desktop }}-col-desktop allslideprt grid {% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet {% endif %}{% endif %}" id="Slider-{{ section.id }}" {% if show_mobile_slider or show_desktop_slider %} data-autoplay="{{ section.settings.auto_rotate }}" data-speed="{{ section.settings.change_slides_speed }}" {% endif %} aria-live="polite" 
          aria-atomic="true">
          {%- for block in section.blocks -%}
            <div class="{% if block.settings.image == blank %} placeholder-image {% endif %}grid__item slideshow__slide slider__slide {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" id="Slide-{{ section.id }}-{{ forloop.index }}" {% if settings.animations_reveal_on_scroll %} data-cascade style="--animation-order: {{ forloop.index }};" {% endif %}>
                {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" title="{{ 'wbcustomlabel.wballtext.banner' | t }}" class="focus-inset">{% endif %}
                  {% if block.settings.image != blank %}
                    {%- liquid
                    assign widths = block.settings.image.width
                  -%}
                    <img loading="lazy" src="{{ block.settings.image | image_url: width: widths }}" height="{{ block.settings.image.height }}" width="{{ block.settings.image.width }}"
                    class="logo-bar__image img-fluid lazyload global-media-settings" alt="{{ block.settings.image.alt }}">
                  {% else %}
                    {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                    {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
                    <div class="dummysvg">{{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}</div>
                  {% endif %}
                {% if block.settings.link != blank %}</a>{% endif %}
                {%- if block.settings.logo_title != blank and section.settings.show_title == false -%}
                <h3 class="logo-title">{{ block.settings.logo_title }}</h3>
              {%- endif %}
            </div>
          {%- endfor -%}
        </div>
      </div>
      {%- if section.blocks.size > 1 -%}
        <div class="slideshow__controls slider-buttons">
            {%- if section.settings.auto_rotate -%}
              <button type="button" class="focus-inset slideshow__autoplay hidden" aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}">{{ 'sections.slideshow.pause_slideshow' | t }}</button>
            {%- endif -%}
        </div>
      {%- endif -%}
    </slideshow-component>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.logo_bar.name",
  "tag": "section",
  "class": "spaced-section",
  "max_blocks": 12,
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "head_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.featured-collection.settings.head_alignment.options1.label"
        },
        {
          "value": "center",
          "label": "t:sections.featured-collection.settings.head_alignment.options2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.featured-collection.settings.head_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "heading_color_scheme",
      "label": "t:sections.all.heading_color_scheme.label",
      "default": "scheme-abe3bc68-5409-41dd-abcf-8f9ac474947a"
    },
    {
      "type": "checkbox",
      "id": "head_space",
      "default": true,
      "label": "t:sections.all.heading_space.label"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.change_slides_speed.label",
      "default": 3
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 3,
      "max": 8,
      "step": 1,
      "default": 6,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "default": false,
      "label": "t:sections.multicolumn.settings.showtitle.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "t:sections.logo_bar.blocks.logo_image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.logo_bar.blocks.logo_image.settings.image.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.logo_bar.blocks.logo_image.settings.link.label",
          "info": "t:sections.logo_bar.blocks.logo_image.settings.link.info"
        },
        {
          "type": "inline_richtext",
          "id": "logo_title",
          "label": "t:sections.multicolumn.settings.title.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.logo_bar.presets.name",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}