{{ 'lookbook.css' | asset_url | stylesheet_tag }}
{%- style -%}
{% if section.settings.head_space %}
  .section-{{ section.id }}-padding .title-wrapper-with-link {
    padding: 10px 20px;
  }
{% endif %}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}
@media screen and (max-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
}
{%- endstyle -%}
<div class="section-{{ section.id }}-padding wblook_b">
    <div class="{% unless section.settings.full_width %}page-width {% else %}section--full-width {% endunless %}">
      {%- if section.settings.title != blank -%}
        <div class="{{ section.settings.head_align }} title-wrapper-with-link title-wrapper color-{{ section.settings.heading_color_scheme }} content-container">
          <div class="heading inline-richtext">
            {%- if section.settings.title != blank -%} 
              <h2 class="{{ section.settings.heading_size }}">
                  {{ section.settings.title }}
              </h2>
            {%- endif %}
            {%- if section.settings.description != blank -%}
              <div class="description {{ section.settings.description_style }} rte">
                {{ section.settings.description -}}
              </div>
            {%- endif %}
          </div>
        </div>
      {%- endif -%}

        <div class="grid grid--1-col-tablet-down grid--{{ section.blocks.size }}-col-desktop grid--{{ section.blocks.size }}-col-tablet banner--{{ section.settings.image_height }}">
          {% for block in section.blocks %}
            {%- liquid
              assign full_width = '100vw'
              assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            -%}
            <div class="grid__item">
              <div class="lookinner">
                <div class="{% unless section.settings.image_height == 'adapt' %} banner__media{% endunless %} global-media-settings media{% if block.settings.image == blank and section.settings.image_height == 'adapt' %} wbimgblank_adapt{% endif %}" {% if section.settings.image_height == 'adapt' and block.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}>
                  {%- if block.settings.image != blank -%}
                    {%- liquid
                      assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
                      assign sizes = full_width
                    -%}
                    {{
                       block.settings.image
                       | image_url: width: 3840
                       | image_tag:
                       loading: 'lazy',
                       width: block.settings.image.width,
                       height: image_height,
                       class: "zoom_effect",
                       sizes: sizes,
                       widths: widths }}
                  {% else %}
                    {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
                    {%- if placeholder_slide == 1 -%}
                      {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- else -%}
                      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%} 
                  {%- endif -%}
                </div>

                {%- for i in (1..2) -%}
                  {%- liquid 
                    assign wblooktop = 'wblooktop_' | append: i
                    assign wblooktop = block.settings[wblooktop]
                    assign wblookleft = 'wblookleft_' | append: i
                    assign wblookleft = block.settings[wblookleft]

                    assign wblookpd = 'product_' | append: i
                    assign wblookpd = block.settings[wblookpd]
                    assign wblookpd = all_products[wblookpd]
                  -%}
                            
                  <div class="wblookbook {% if wblookleft > 55 %}wblbright {% endif %}" style="top: max(calc({{ wblooktop }}% - 32px), 0%); left: max(calc({{ wblookleft }}% - 32px), 0%);">
                    <div class="lookbookdata">
                      {%- unless wblookpd == blank -%}
                        <div class="wblookbleft">
                          {% if wblookpd.featured_media %}
                            <div class="wblookimg">
                              <a href="{{ wblookpd.url }}" title="{{ wblookpd.title | escape }}" class="">
                                <div class="wblookimglazy">
                                  <img loading="lazy"
                                  class="img-fluid mx-auto lazyload"
                                  srcset="{{ wblookpd.featured_media | image_url: width: 80 }} 80w"
                                  src="{{ wblookpd.featured_media | image_url: width: 80 }}"
                                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 992px) calc((100vw - 130px) / 4), (min-width: 768px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                  width="80"
                                  height="{{ 80 | divided_by: wblookpd.featured_media.aspect_ratio | ceil }}">
                                </div>
                              </a>
                            </div>
                          {% endif %}
                          <div class="wblookdesc">
                            <h3><a href="{{ wblookpd.url }}" title="{{ wblookpd.title | escape }}" class="full-unstyled-link">{{ wblookpd.title }}</a></h3>
                              {%- render 'price', product: wblookpd, use_variant: false, show_badges: false, from_varies: true -%}
                          </div>
                        </div>
                      {% else %}
                        <div class="wblookbleft">
                          <div class="wblookimg"> 
                            <a role="link" class="full-unstyled-link">
                              <div class="wblookimglazy">
                                <div class="dummysvg">{{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                              </div>
                            </a>
                          </div>
                          <div class="wblookdesc">
                            <h3><a role="link" aria-disabled="true" class="full-unstyled-link">{{ 'onboarding.product_title' | t }}</a></h3>
                            {% render 'price' %}
                          </div>
                        </div>
                      {%- endunless -%}
                    </div>
                  </div>
                {%- endfor -%}
              </div>

              {% if block.settings.looktitle != blank or block.settings.lookdesc != blank or block.settings.showtext != blank %}
              <div class="look_content">
                {% if block.settings.looktitle != blank %}
                  <h3>{{ block.settings.looktitle }}</h3>
                {% endif %}
                {% if block.settings.lookdesc != blank %}
                  <div class="rte">{{ block.settings.lookdesc }}</div>
                {% endif %}
                {% if block.settings.showtext != blank %}
                  <a {% if block.settings.link == blank %} role="link" aria-disabled="true" {% else %} href="{{ block.settings.link }}" {% endif %} {% if block.settings.link_window %} target="_blank" {% endif %}
                    class="lookbtn {% if block.settings.view_all_style == 'link' %}link underlined-link{% elsif block.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}" {{ block.shopify_attributes }}>
                    <span>{{ block.settings.showtext }}</span>
                  </a>
                {% endif %}
              </div>
              {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Lookbook",
  "tag": "section",
  "max_blocks": 3,
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.multicolumn.settings.title.label",
      "default": "Title"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h0",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "head_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.featured-collection.settings.head_alignment.options1.label"
        },
        {
          "value": "center",
          "label": "t:sections.featured-collection.settings.head_alignment.options2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.featured-collection.settings.head_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "heading_color_scheme",
      "label": "t:sections.all.heading_color_scheme.label",
      "default": "scheme-abe3bc68-5409-41dd-abcf-8f9ac474947a"
    },
    {
      "type": "checkbox",
      "id": "head_space",
      "default": true,
      "label": "t:sections.all.heading_space.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },

    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "Image height"
    },

    
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-banner.settings.image.label"
        },


        {
          "type": "inline_richtext",
          "id": "looktitle",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "lookdesc",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label",
          "default": "<p>Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "text",
          "id": "showtext",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "link_window",
          "label": "t:sections.slideshow.blocks.slide.settings.link_window.label",
          "default": true
        },
        {
          "type": "select",
          "id": "view_all_style",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label",
          "options": [
            {
              "value": "link",
              "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
            },
            {
              "value": "outline",
              "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
            },
            {
              "value": "solid",
              "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
            }
          ],
          "default": "solid"
        },


        {
          "type": "header",
          "content": "Product"
        },
        {
          "type": "range",
          "id": "wblooktop_1",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Position top",
          "default": 23
        },
        {
          "type": "range",
          "id": "wblookleft_1",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Position left",
          "default": 20
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Select product"
        },



        {
          "type": "header",
          "content": "Product"
        },
        {
          "type": "range",
          "id": "wblooktop_2",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Position top",
          "default": 50
        },
        {
          "type": "range",
          "id": "wblookleft_2",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Position left",
          "default": 30
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Select product"
        }

      ]
    }
  ],
  "presets": [
    {
      "name": "Lookbook",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
